Gemfile.lock
*.gem
.bundle/
log/
pkg/
spec/dummy/config/initializers/copycat.rb
spec/dummy/db/*.sqlite3
spec/dummy/db/schema.rb
spec/dummy/db/migrate/
spec/dummy/log/
spec/dummy/tmp/
.DS_Store
spec/support/export.yml
