#copycat li, #copycat li h2 {
  display: inline;
  padding: 2em;
}
#copycat table, #copycat p, #copycat form, #copycat div.copycat-alert, #copycat div.copycat-notice {
  padding-top: 2em;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
#copycat table th {
  text-align: left;
}
#copycat table tr {
  padding: 1em;
}
#copycat table tr td.key {
  width: 20%;
  margin-right: 5%;
}
#copycat table tr td.value {
  width: 75%;
}
#copycat div.copycat-alert {
  color: red;
  font-weight: bold;
}
#copycat div.copycat-notice {
  color: green;
  font-weight: bold;
}

