body.copycat {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #EEE;
}
div#copycat { 
  width: 75%;
  margin-left: 10.5%;
  padding-left: 2%;
  margin-right: 10.5%;
  padding-right: 2%;
}
#copycat ul {
  padding-left: 0;
  padding-top: 2em;
}
#copycat li, #copycat li h2 {
  display: inline;
  padding-right: 4em;
}
#copycat table, #copycat form, #copycat div.copycat-alert, #copycat div.copycat-notice, div#readme, div#upload {
  padding-top: 2em;
}
#copycat table {
  width: 100%;
  border-bottom: 1px #CCC dotted;
  padding-bottom: 1em;
}
#copycat table th {
  text-align: left;
  padding-bottom: 1em;
}
#copycat table tr td {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px #CCC dotted;
}
#copycat table tr td.key {
  width: 20%;
  margin-right: 5%;
  vertical-align: top;
}
#copycat table tr td.value {
  width: 75%;
}
#copycat div.copycat-alert {
  color: red;
  font-weight: bold;
}
#copycat div.copycat-notice {
  color: green;
  font-weight: bold;
}
#copycat div.copycat-edit-form {
  width: 50%;
}
#copycat div.copycat-edit-form textarea {
  font-size: 0.8em;
  width: 99%;
  margin-top: 1em;
}
#copycat div.copycat-edit-form input {
  margin-top: 0.5em;
  font-size: 1em;
  float: right;
}
#copycat div.copycat-locale-form {
  float: right;
  position: relative;
  top: -4.5em;
}
#copycat div.copycat-locale-form select, div.copycat-locale-form input {
  font-size: 1em;
}
#copycat div.copycat-locale-form select:hover, div.copycat-locale-form input:hover {
  cursor: pointer;
}
