body.copycat {
  margin: 0;
}
div#copycat { 
  width: 75%;
  margin-left: 10.5%;
  padding-left: 2%;
  margin-right: 10.5%;
  padding-right: 2%;
}
#copycat ul {
  padding-left: 0;
  padding-top: 2em;
}
#copycat li, #copycat li h2 {
  display: inline;
  padding-right: 4em;
}
#copycat table, #copycat form, #copycat div.copycat-alert, #copycat div.copycat-notice, div#readme, div#upload {
  padding-top: 2em;
}
#copycat table {
  border-bottom: 1px #CCC dotted;
  padding-bottom: 1em;
}
#copycat table th {
  text-align: left;
  padding-bottom: 1em;
}
#copycat table tr td {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px #CCC dotted;
}
#copycat table tr td.key {
  width: 20%;
  margin-right: 5%;
  vertical-align: top;
}
#copycat table tr td.value {
  width: 75%;
}
#copycat div.copycat-alert {
  color: red;
  font-weight: bold;
}
#copycat div.copycat-notice {
  color: green;
  font-weight: bold;
}

