<div class="copycat-header">
<ul>
  <li><a href=<%=copycat_translations_path%>><h2>Copycat</h2></a></li>
  <% href = copycat_translations_path + ".yaml" %>
  <li><a href=<%=href%>>Download</a></li>
  <li><a href=<%= upload_copycat_translations_path %>>Upload</a></li>
  <li><a href=<%= readme_copycat_translations_path %>>Readme</a></li>
</ul>
</div>
