<div class="copycat-notice"> <%= notice %> </div>
<table>
  <tr>
    <th> Key </th>
    <th> Value </th>
  </tr>
  <% @copycat_translations.each do |t| %>
  <tr>
    <td class="key">
      <%= link_to "#{t.locale}.#{t.key}", edit_copycat_translation_path(t) %>
    </td>
    <td class="value">
      <%= t.value %>
    </td>
  </tr>
  <% end %>
</table>
