<!DOCTYPE html>
<html>
<head>
  <title>Copycat</title>
  <%= stylesheet_link_tag "copycat_engine", :media => "all" %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>

<%= yield %>

</body>
</html>
